$accordion-icon-primary: url('data:image/svg+xml,%3csvg xmlns=\'http://www.w3.org/2000/svg\' viewBox=\'0 0 16 16\' fill=\'%23004773\'%3e%3cpath fill-rule=\'evenodd\' d=\'M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z\'/%3e%3c/svg%3e');

.accordion-button {
  font-weight: 700;

  &:focus {
    border: none;
    box-shadow: none;
  }
}

.frame-background-none {
  .accordion {
    .accordion-button {
      background-color: $primary-color;
      color: $white-color;

      &::after {
        filter: grayscale(100%) invert(100%);
      }

      &.collapsed {
        &::after {
          filter: invert(100%);
        }
      }
    }
  }
}

.frame-background-light {
  .accordion {
    .accordion-button {
      background-color: $primary-color;
      color: $white-color;

      &::after {
        filter: grayscale(100%) invert(100%);
      }

      &.collapsed {
        &::after {
          filter: invert(100%);
        }
      }
    }
  }
}

.frame-background-dark {
  .accordion {
    .accordion-item {
      color: $bg-light-title-color;

      a:not([class]) {
        color: $link-color !important;
        text-decoration: none;
      }
    }

    .accordion-button {
      background-color: $bg-light-gray-color;

      &.collapsed {
        background: $white-color;
        color: $primary-color;

        &::after {
          background-image: escape-svg($accordion-icon-primary);
        }
      }
    }
  }
}

.frame-background-primary {
  .accordion {
    .accordion-item {
      color: $bg-light-title-color;

      a:not([class]) {
        color: $link-color !important;
        text-decoration: none;
      }
    }

    .accordion-button {
      background-color: $bg-light-gray-color;

      &.collapsed {
        background: $white-color;
        color: $primary-color;

        &::after {
          background-image: escape-svg($accordion-icon-primary);
        }
      }
    }
  }
}