$chevron-icon-white: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3C!-- Generator: Adobe Illustrator 26.2.1, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3Csvg version='1.1' id='Warstwa_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 6.5 11.5' style='enable-background:new 0 0 6.5 11.5;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0%7Bfill:%23ffffff;%7D%0A%3C/style%3E%3Cpath id='Path_78238' class='st0' d='M0.8,11.5c-0.4,0-0.8-0.4-0.8-0.8c0-0.2,0.1-0.4,0.2-0.6l4.4-4.4L0.2,1.3 c-0.3-0.3-0.3-0.8,0-1.1s0.8-0.3,1.1,0l5,5c0.3,0.3,0.3,0.8,0,1.1l-5,5C1.2,11.4,1,11.5,0.8,11.5'/%3E%3C/svg%3E%0A");

.teaser {
  &__wrapper {
    background-color: $primary;

    @include media-breakpoint-up(lg) {
      display: flex;
    }
  }

  &__image {
    @include media-breakpoint-up(lg) {
     width: 50%;
    }

    .image__wrapper {
      height: 100%;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__content {
    padding: 16px 16px 20px;
    color: white;

    @include media-breakpoint-up(lg) {
      width: 50%;
      padding: 20px 20px 24px;
    }
  }

  .content__title {
    font-weight: 500;
    color: white;
  }

  .content__subtitle {
    margin-bottom: 10px;
  }

  .content__text {
    margin-top: 16px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 200;

    p:last-child {
      margin-bottom: 0;
    }

    a {
      color: inherit !important;
      font-weight: 700;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .content__link-list {
    margin: 12px 0 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
  }

  .list__item {
    width: calc((100% - 24px) /2);

    a {
      font-size: 14px;
      line-height: 16px;
      color: white !important;
      display: inline-flex;

      .link__icon {
        min-width: 16px;
        max-width: 16px;
        height: 16px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 4px;

        &::before {
          content: '';
          display: inline-block;
          width: 10px;
          height: 10px;
          background-size: 100% 100%;
          background-image: escape-svg($chevron-icon-white);
        }
      }
    }
  }
}