<f:layout name="Simple" />
<f:section name="Main">
    <div class="teaser-links">
        <div class="teaser-links__wrapper">
            <f:if condition="{files.0}">
                <div class="teaser-links__image">
                    <div class="image__wrapper">
                        <img src="{f:uri.image(image: files.0)}">
                    </div>
                </div>
            </f:if>
            <div class="teaser-links__content">
                <f:if condition="{data.header}">
                    <h4 class="content__title">
                        {data.header}
                    </h4>
                </f:if>
                <f:if condition="{data.bodytext}">
                    <div class="content__text">
                        <f:format.html>{data.bodytext}</f:format.html>
                    </div>
                </f:if>
                <f:if condition="{records}">
                    <div class="content__list">
                        <f:for as="item" each="{records}">
                            <li class="list__item">
                                <f:if condition="{item.data.link}">
                                    <f:link.typolink parameter="{item.data.link}">
                                        <span class="link__icon"></span>
                                        <span class="link__text">{item.data.title}</span>
                                    </f:link.typolink>
                                </f:if>
                            </li>
                        </f:for>
                    </div>
                </f:if>
            </div>
        </div>
    </div>
</f:section>