@mixin ratio($ratio: 1 1, $selector: '> :first-child') {
  $selector: unquote($selector);

  padding-bottom: percentage(nth($ratio, 2) / nth($ratio, 1));
  position: relative;

  #{$selector} {
    left: 0;
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
  }
}

@mixin adaptiveProperty($property, $maketWidth, $breakpoint, $valueMaket, $valueBreakpoint) {
  $addSize: $valueMaket - $valueBreakpoint;
  $width: $maketWidth - $breakpoint;
  #{$property}: calc(
    #{$valueBreakpoint + px} + #{$addSize} * ((100vw - #{$breakpoint + px}) / #{$width})
  );
}


